::-webkit-scrollbar {
    width: 0px;
  }
.RulesAndTopic{  
    background-color: rgba(189, 215, 221, 0.352);
    height: 70vh;
    width: 70vh;
    position:relative;
    top:40px;
    left: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    overflow-x: hidden;
    border-radius: 20px;
}
.RulesAndTopic h2{
    font-size: 30px;
    color:white
}
.RulesAndTopic strong{
    font-size: 20px;
    color: white
}
.RulesAndTopic li{
    font-size: 15px;
    color: white
}
button{
    height: 30px;
    width: 80px;
    border-radius: 10px;
}