::-webkit-scrollbar {
    width: 0px;
  }
.RulesAndTopic{
    background-color: rgba(0, 255, 255, 0);    
    height: 80vh;
    width: 70vh;
    position:relative;
    left: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    overflow-x: hidden;
}
.RulesAndTopic>p{
    font-size: 90px;
}