::-webkit-scrollbar {
    width: 0px;
  }
.RulesAndTopic{  
    background-color: rgba(112, 172, 186, 0.352);
    height: 540px;
    width: 550px;
    position:relative;
    top:40px;
    left: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    overflow-x: hidden;
   
}
.RulesAndTopic>p{
    font-size: 90px;
}
.RulesAndTopic h2{
    font-size: 30px;
    color:white;
    display:flex;
}
.RulesAndTopic h3{
    color: white;
}
.RulesAndTopic strong{
    font-size: 20px;
    color: white;
    display:flex;
}
.RulesAndTopic li{
    font-size: 15px;
    color: white;
    display:flex;
}
button{
    height: 30px;
    width: 80px;
    border-radius: 10px;
}@media(max-width:1210px){
    .RulesAndTopic{
        position: relative;
        top:650px;
        left:0px;
        background-color:rgb(255, 255, 255);
        border-radius: 10px;
        border: 10px solid rgba(5, 78, 73, 0.3)
        
    }
    .RulesAndTopic h2,.RulesAndTopic h3{
        color: black;
    }
    .RulesAndTopic li {
        color: black;
    }
    .RulesAndTopic{
        columns: black;
    }
    .RulesAndTopic{
        color: rgb(0, 0, 0);
    }
    .RulesAndTopic strong{
        color: black;
    }
}